{
	"_comment_title": "Installation Instructions",
	"_comment_step1": "Download this file",
	"_comment_step2": "Navigate to Dashboards, choose import, select file, import.",
	"_author": "Mark Ulmer, US Services Consultant",
	"_version_date": "2025-12-19",
	
    "title": "Emails with Competitors - 7d",
    "description": "Email activity with Competitor domains",
    "useCases": [
        "Workforce Protection"
    ],
    "mitreInfo": [
    ],
    "dashboardElements": [
        {
            "title": "Emails to Competitors",
            "title_hidden": false,
            "type": "vis",
            "view": "event",
            "fields": [
                "event.count",
                "event.dest_email_domain"
            ],
            "pivots": null,
            "filters": {
                "event.approx_log_time": "7 day",
                "event.context_rule": "dest_email_domainContextRuleSeparatorinContextRuleSeparatorcustomContextRuleSeparatorraw_entity_other_customContextRuleSeparatorxdVu7ADxph",
                "event.apply_context_rule": "Yes"
            },
            "filter_expression": "(yes)\n#EXPRESSION-START#{\"combinator\":\"and\",\"rules\":[{\"field\":{\"name\":\"event.dest_email_domain\",\"label_short\":\"Dest Email Domain\",\"view\":\"event\",\"type\":\"string\"},\"expression\":\"-NULL\"}],\"nextFilter\":{}}#EXPRESSION-END#",
            "sorts": [
            ],
            "limit": "50",
            "vis_config": {
                "type": "looker_pie"
            },
            "dynamic_fields": "[]",
            "model": "datalake",
            "result_maker": {
                "filterables": [
                    {
                        "model": "datalake",
                        "view": "event",
                        "name": "",
                        "listen": [
                            {
                                "dashboard_filter_name": "Event : Approx Log Time",
                                "field": "event.approx_log_time"
                            }
                        ]
                    }
                ]
            },
            "slug": "2Xr5BcxYyFGjzMVjkpbQBj5qZSGv3rK6",
            "height": 5,
            "width": 8,
            "row": 0,
            "column": 0
        },
        {
            "title": "Emails from Competitors",
            "title_hidden": false,
            "type": "vis",
            "view": "event",
            "fields": [
                "event.count",
                "event.email_domain"
            ],
            "pivots": null,
            "filters": {
                "event.approx_log_time": "7 day",
                "event.context_rule": "email_domainContextRuleSeparatorinContextRuleSeparatorcustomContextRuleSeparatorraw_entity_other_customContextRuleSeparatorxdVu7ADxph",
                "event.apply_context_rule": "Yes"
            },
            "filter_expression": "(yes)\n#EXPRESSION-START#{\"combinator\":\"and\",\"rules\":[{\"field\":{\"name\":\"event.email_domain\",\"label_short\":\"Email Domain\",\"view\":\"event\",\"type\":\"string\"},\"expression\":\"-NULL\"}],\"nextFilter\":{}}#EXPRESSION-END#",
            "sorts": [
            ],
            "limit": "50",
            "vis_config": {
                "type": "looker_pie"
            },
            "dynamic_fields": "[]",
            "model": "datalake",
            "result_maker": {
                "filterables": [
                    {
                        "model": "datalake",
                        "view": "event",
                        "name": "",
                        "listen": [
                            {
                                "dashboard_filter_name": "Event : Approx Log Time",
                                "field": "event.approx_log_time"
                            }
                        ]
                    }
                ]
            },
            "slug": "fVrvBbgyQb467khvsFkhTntkRpwtYtcJ",
            "height": 5,
            "width": 8,
            "row": 0,
            "column": 8
        },
        {
            "title": "Emails to Competitors (detail)",
            "title_hidden": false,
            "type": "vis",
            "view": "event",
            "fields": [
                "event.count",
                "event.email_address",
                "event.dest_email_address",
                "event.email_subject",
                "event.email_attachment"
            ],
            "pivots": null,
            "filters": {
                "event.approx_log_time": "7 day",
                "event.context_rule": "dest_email_domainContextRuleSeparatorinContextRuleSeparatorcustomContextRuleSeparatorraw_entity_other_customContextRuleSeparatorxdVu7ADxph",
                "event.apply_context_rule": "Yes"
            },
            "filter_expression": "(yes)\n#EXPRESSION-START#{\"combinator\":\"and\",\"rules\":[{\"field\":{\"name\":\"event.dest_email_domain\",\"label_short\":\"Dest Email Domain\",\"view\":\"event\",\"type\":\"string\"},\"expression\":\"-NULL\"}],\"nextFilter\":{}}#EXPRESSION-END#",
            "sorts": [
            ],
            "limit": "500",
            "vis_config": {
                "type": "table"
            },
            "dynamic_fields": "[]",
            "model": "datalake",
            "result_maker": {
                "filterables": [
                    {
                        "model": "datalake",
                        "view": "event",
                        "name": "",
                        "listen": [
                            {
                                "dashboard_filter_name": "Event : Approx Log Time",
                                "field": "event.approx_log_time"
                            }
                        ]
                    }
                ]
            },
            "slug": "VCCxKkBYGp4Wnwq586BXcBJZBd8jdNFx",
            "height": 5,
            "width": 24,
            "row": 5,
            "column": 0
        },
        {
            "title": "Emails from Competitors (detail)",
            "title_hidden": false,
            "type": "vis",
            "view": "event",
            "fields": [
                "event.count",
                "event.dest_email_address",
                "event.email_address",
                "event.email_subject",
                "event.email_attachment"
            ],
            "pivots": null,
            "filters": {
                "event.approx_log_time": "7 day",
                "event.context_rule": "email_domainContextRuleSeparatorinContextRuleSeparatorcustomContextRuleSeparatorraw_entity_other_customContextRuleSeparatorxdVu7ADxph",
                "event.apply_context_rule": "Yes"
            },
            "filter_expression": "(yes)\n#EXPRESSION-START#{\"combinator\":\"and\",\"rules\":[{\"field\":{\"name\":\"event.email_domain\",\"label_short\":\"Email Domain\",\"view\":\"event\",\"type\":\"string\"},\"expression\":\"-NULL\"}],\"nextFilter\":{}}#EXPRESSION-END#",
            "sorts": [
            ],
            "limit": "500",
            "vis_config": {
                "type": "table"
            },
            "dynamic_fields": "[]",
            "model": "datalake",
            "result_maker": {
                "filterables": [
                    {
                        "model": "datalake",
                        "view": "event",
                        "name": "",
                        "listen": [
                            {
                                "dashboard_filter_name": "Event : Approx Log Time",
                                "field": "event.approx_log_time"
                            }
                        ]
                    }
                ]
            },
            "slug": "7D2ncSJbwf6scCgfXPD4GVXmdjV4HW4b",
            "height": 5,
            "width": 24,
            "row": 10,
            "column": 0
        }
    ],
    "dashboardFilters": [
        {
            "id": null,
            "dashboard_id": null,
            "name": "Event : Approx Log Time",
            "title": "Event : Approx Log Time",
            "type": "field_filter",
            "explore": "event",
            "dimension": "event.approx_log_time",
            "row": 0,
            "allow_multiple_values": false,
            "required": true,
            "ui_config": {
                "options": [
                ],
                "type": "advanced",
                "display": "inline"
            },
            "model": "datalake",
            "listens_to_filters": [
            ],
            "default_value": "7 day",
            "field": {
                "align": "left",
                "can_filter": true,
                "category": "dimension",
                "default_filter_value": null,
                "description": "",
                "enumerations": null,
                "field_group_label": "Approx Log Date",
                "fill_style": null,
                "fiscal_month_offset": 0,
                "has_allowed_values": false,
                "hidden": false,
                "is_filter": false,
                "is_numeric": false,
                "label": "Event Approx Log Time",
                "label_from_parameter": null,
                "label_short": "Approx Log Time",
                "map_layer": null,
                "name": "event.approx_log_time",
                "strict_value_format": false,
                "requires_refresh_on_sort": false,
                "sortable": true,
                "suggestions": null,
                "synonyms": [
                ],
                "tags": [
                ],
                "type": "date_time",
                "user_attribute_filter_types": [
                    "datetime",
                    "advanced_filter_datetime"
                ],
                "value_format": null,
                "value_format_name": null,
                "view": "event",
                "view_label": "Event",
                "dynamic": false,
                "week_start_day": "monday",
                "original_view": "event",
                "datatype": "TIMESTAMP",
                "convert_tz": true,
                "dimension_group": "event.approx_log",
                "error": null,
                "field_group_variant": "Time",
                "measure": false,
                "parameter": false,
                "primary_key": false,
                "project_name": "datalake",
                "scope": "event",
                "suggest_dimension": "event.approx_log_time",
                "suggest_explore": "event",
                "suggestable": false,
                "lookml_expression": null,
                "is_fiscal": false,
                "is_timeframe": true,
                "can_time_filter": true,
                "time_interval": {
                    "name": "second",
                    "count": 1
                },
                "lookml_link": "/projects/datalake/files/views%2Fevent.view.lkml?line=696",
                "period_over_period_params": null,
                "permanent": null,
                "source_file": "views/event.view.lkml",
                "source_file_path": "datalake/views/event.view.lkml",
                "sql": "${TABLE}.approxLogTime ",
                "sql_case": null,
                "filters": null,
                "times_used": 0
            },
            "can": {
                "create": true,
                "destroy": true,
                "update": true,
                "find_and_replace": true,
                "show_errors": true,
                "index": true,
                "show": true
            }
        }
    ]
}
