{"title":"Cases created by Product - Last 30 days","titleHidden":false,"subTitle":null,"useCases":[],"mitreInfo":[],"tags":[],"body":null,"type":"vis","model":"acm_bq","view":"alerts","fields":["alerts.count","alerts__products.alerts__products","alerts.case_creation_timestamp_date"],"pivots":["alerts__products.alerts__products"],"filters":{},"filterExpression":"(yes)\n#EXPRESSION-START#{\"combinator\":\"and\",\"rules\":[{\"field\":{\"name\":\"alerts.case_creation_timestamp_time\",\"label_short\":\"Case Creation Timestamp Time\",\"view\":\"alerts\",\"type\":\"date_time\"},\"expression\":\"30 day\"}],\"nextFilter\":{}}#EXPRESSION-END#","sorts":[],"limit":50,"dynamicFields":"[]","quick_calcs":null,"vis_config":{"stacking":"percent","type":"looker_area"},"nlpPrompt":null}